*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* debugging */
.debug .container {
  border: 1px solid black;
}
.debug .flex-column {
  border: 1px solid cadetblue;
}
.debug .header {
  border: 1px solid firebrick;
}
.debug .notification {
  border: 1px solid indianred;
}
.debug .search-bar {
  border: 1px solid lightcoral;
}
.debug .contact-list {
  border: 1px solid orange;
}
.debug .chat-box {
  border: 1px solid limegreen;
}
.debug .input-bar {
  border: 1px solid mediumaquamarine;
}

/* common classes */
.flex-end {
  display: flex;
  justify-content: flex-end;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex{
  display: flex;
  align-items: center;
}

img, .circle-box{
  width:50px;
  height: 50px;
  border-radius: 50%;
}

li{
  list-style: none;
  padding: 10px 10px;
  border-bottom: 1px solid #DCDBD1;
}

li.flex {
  align-items: flex-start;
}

.w10{
  width: 10%;
}

/* style classes */
.bold-black{
  color: black;
  font-weight: 600;
  font-size: 0.8rem;
}

.thin-grey{
  color:#8C9DB0;
  font-size: 0.70rem;
  font-weight: 300;
}

.underline-thin-grey{
  color:#6A9BB1;
  font-size: 0.70rem;
  font-weight: 300;
  text-decoration: underline;
}

.bg-underlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0,150,136);
  background: linear-gradient(rgba(0,150,136,1) 20vh, rgba(220,219,209,1) 20vh, rgba(210,219,219,1) 100%);
}

.bg-grey{
  background-color: #DCDBD1;
}

/* containers */
.container {
  height: 90%;
  min-height: 135px;
  background-color: white;

  display: flex;
  flex: 0 1 1100px;
}

.c-left {
  width: 30%;
}

.c-right {
  width: 70%;
}

.header{
  width:100%;
  min-height: 60px;
  background-color: #EAEAEA;

  display: flex;
  justify-content: space-between;
}

.header i {
  color:#B2B0B1;
  padding-right:0.9rem;
}

.header img {
  margin: 0 10px;
}

.user-bar {
  border-right : 1px solid #D2DBDB;
}

.notification {
  width: 100%;
  min-height: 75px;
  background-color: #8EDAFC;
}

.notification i {
  color:#8EDAFC;
}

.notification .circle-box {
  background-color: white;
  margin: 0 10px;
}

.search-bar {
  width: 100%;
  min-height: 50px;
  background-color: #FBFBFB;
}

.search-bar input {
  width: 100%;
  margin-left: 15px;
}

.search-bar input::placeholder {
  font-size: 0.8rem;
  font-weight: 400;
  color: #DCDBD1;
  text-align: justify;
}

.formField{
    margin:0 10px;
    border: 1px solid #EAEAEA;
    padding-right: 60px;
    position: relative;
}

input.valid{
    background-color: transparent;
    border: 0;
    margin-right: 50px;
}

.formField i {
  padding: 5px;
  color: #D2DBDB;
}

.contact-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.contact-list li img {
  margin-right: 10px;
}

.chat-box{
  width: 100%;
  height: 100%;
  padding: 25px 50px 5px 50px;
  background-image: url('../img/mine.jpg');
  overflow-y: auto;
}

.message-box{
  border-radius: 10px;
  padding : 10px 5px 5px 10px;
  width: 40%;
}

.userMessage {
  background-color: #D5F9BA;
  align-self: flex-end;
}

.contactMessage {
  background-color: white;
  align-self: flex-start;
}

.input-bar{
  width:100%;
  min-height: 60px;
  background-color: #F3EEEA;
}

.input-bar input {
  width: 80%;
  height: 75%;
  border-radius: 10px;
  border: 1px solid #EAEAEA;
  padding: 0 20px;
}

.input-bar input::placeholder{
  color:#B2B0B1;
  font-size: 0.8rem;
  font-weight: 400;

}

.input-bar i {
  color:#6B7376;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .c-left {
    min-width: 295px;
  }

  .c-right {
    flex-basis: auto;
  }
}
